<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{styles/base.css}">
    <link rel="stylesheet" th:href="@{styles/footer.css}">

</head>


<div class="footer">
    <div class="footer-column">
        <p class="bold">
            About
        </p>
        <div class="dot-divider"></div>
        <p class="light ex-small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </div>

    <div class="footer-column">
        <p class="bold ">
            Contact
        </p>
        <div class="dot-divider"></div>
        <p class="light ex-small">
            Finki TuneTalk
            email@example.com
        </p>
    </div>
    <div class="footer-column">
        <p class="light ex-small">
            @TuneTalk 2021 - Finki
        </p>
    </div>

</div>