<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{/styles/base.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>

<body>
    <div class="navbar-container">
        <a href="/home" class="logo-icon-a">
            <img src="/static/images/TuneTalk_Logo.png" th:src="@{/images/TuneTalk_Logo.png}" />
        </a>
        <a href="/artists">
            <p class="menu-p">Artists</p>
        </a>
        <a href="/albums">
            <p class="menu-p">Albums</p>
        </a>
        <a href="/songs">
            <p class="menu-p">Songs</p>
        </a>
        <a href="/genres">
            <p class="menu-p">Genres</p>
        </a>
        <div class="navbar-auth-container" th:if="${session.user == null}">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn-secondary">Signup</a>
        </div>

        <span th:if="${session.user != null}">
            <a href="/user" th:text="${session.user.getUsername()}"></a>
            <a href="/logout" class="btn btn-light">Logout</a>
        </span>
    </div>

</body>