<form th:method="post" th:action="@{'/songs/addGenre/{id}' (id=${song.getSongId()})}"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <h1 th:text="'Add genre to song: ' + ${song.getTitle()}"></h1>

    <label for="search">Search genre:</label>
    <br>

    <input th:name="genreId" list="search" id="answerInput">
    <datalist id="search" >
        <option th:each="genre : ${genres}" th:text="${genre.getGenreName()}" th:value="${genre.getGenreId()}">
        </option>
    </datalist>
    <input type="hidden" name="answer" id="answerInput-hidden">

    <button type="submit">Add</button>
</form>