<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .dela {
            display: inline-block;
            margin-top: 30px;
            margin-left: 150px;
            width: 500px;
            border: 2px dotted lightblue;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>


<body>
<div>
    <h1 id="albumName" th:text="${album.getAlbumName()}"></h1>

    <div th:if="${session.user != null}">

        <div th:if="${session.user.isAdmin() == true}">
            <a th:if="${album.isVerified() == false}" th:href="@{'/albums/verify/{albumId}' (albumId=${album.getAlbumId()})}">Verify</a>
            <a th:if="${album.isVerified() == true}" th:href="@{'/albums/unverify/{albumId}' (albumId=${album.getAlbumId()})}">Unverify</a>
        </div>

        <div th:if="${album.isVerified() == false}">
            <a th:href="@{'/albums/edit/{id}' (id=${album.getAlbumId()})}">Edit page</a>
        </div>


    </div>

    <div style="border-bottom: 2px solid lightgray;">
        <p>Released by:</p>
        <span th:each="artist : ${artists}">
            <a th:text="${artist.getArtistName()}" th:href="@{'/artists/{id}' (id=${artist.getArtistId()})}"></a>
            <br>
        </span>

        <p>Album genres:</p>
        <ul>
            <li th:each="genre : ${genres}" >
                <p th:text="${genre.getGenreName()}"></p>
            </li>
        </ul>



        <p>Rating: <th:block th:text="${album.getRating()}"></th:block> </p>
        <p>Date released: <th:block th:text="${album.getDateReleased()}"></th:block> </p>
    </div>



    <div class="dela">
        <h4>Songs in album</h4>
        <table>
            <tr>
                <th>Song Name</th>
                <th>Date_Released</th>
                <th>Rating</th>
                <th th:if="${session.user != null}" th:text="'Delete this song from ' + ${album.getAlbumName()}"></th>
                <th th:if="${session.user == null && album.isVerified() == false}" th:text="'Log in to see available options'"></th>
                <th th:if="${album.isVerified() == true}" th:text="'Album is verified. Cant make changes.'"></th>
            </tr>

            <tr th:each="song : ${songs}">
                <th><a th:text="${song.getTitle()}" th:href="@{'/songs/{id}' (id=${song.getSongId()})}"></a></th>
                <th th:text="${song.getDateReleased()}">Date_Released</th>
                <th th:text="${song.getRating()}">Rating</th>
                <th><a th:if="${session.user != null && album.isVerified() == false}" th:href="@{'/albums/deleteSongFromAlbum/{albumId}/{songId}' (albumId=${album.getAlbumId()},songId=${song.getSongId()})}">Delete this song</a></th>
            </tr>
        </table>
    </div>

    <div th:if="${session.user != null}" style="border: 2px solid yellow">
        <form method="get" th:action="@{'/albums/addComment/{albumId}' (albumId=${album.getAlbumId()})}">
            <h4>Add new comment</h4>
            <p>Comment text:</p>
            <input name="text" id="text" type="text">
            <button type="submit">Add comment</button>
        </form>
        <br>
    </div>

    <div id="comments" style="border: 1px solid black; width: 700px">
        <h4>Comments</h4>
        <th:block th:each="comment : ${album.comments}">
            <div style="border: 5px solid red; margin-top: 20px">
                <h4>Comment</h4>

                <p th:text="'Comment by: ' +${comment.userPostedBy.username} ">

                <p><b th:text="'Date posted: ' + ${comment.getDatePosted()}"></b></p>

                <p th:text="'Comment text: ' + ${comment.getText()}"></p>
                <span th:if="${session.user != null}">
                    <a th:href="@{'/user/album/{albumId}/like/{commentId}' (albumId=${album.getAlbumId()},commentId=${comment.getCommentId()})}">Like</a>
                    <a th:href="@{'/user/album/{albumId}/dislike/{commentId}' (albumId=${album.getAlbumId()},commentId=${comment.getCommentId()})}">Dislike</a>
                </span>

                <div th:if="${session.user != null}" style="border: 2px solid yellow">
                    <form th:method="get" th:action="@{'/songs/addComment/{albumId}/{firstCommentId}' (albumId=${album.getAlbumId()},firstCommentId=${comment.getCommentId()})}">
                        <h4>Add reply comment</h4>
                        <p>Comment text:</p>
                        <input name="text" type="text">
                        <button type="submit">Add comment</button>
                    </form>
                    <br>
                </div>

            </div>



            <div th:fragment="f_call(comment)"
                 th:unless="${#lists.isEmpty(comment.getReplies())}" style="border: 5px solid blue; margin-top: 20px">
                <h4>Replies</h4>

                <div th:each="reply : ${comment.getReplies()}" th:inline="text">

                    <p th:text="'Comment by: ' +${comment.userPostedBy.username} ">
                    <p><b th:text="'Date posted: ' + ${reply.getDatePosted()}"></b></p>

                    <p th:text="'Comment text: ' + ${reply.getText()}"></p>
                    <span th:if="${session.user != null}">
                        <a th:href="@{'/user/album/{albumId}/like/{commentId}' (albumId=${album.getAlbumId()},commentId=${comment.getCommentId()})}">Like</a>
                        <a th:href="@{'/user/album/{albumId}/dislike/{commentId}' (albumId=${album.getAlbumId()},commentId=${comment.getCommentId()})}">Dislike</a>
                    </span>



                    <div  th:if="${session.user != null}" style="border: 2px solid yellow">
                        <form method="get" th:action="@{'/albums/addComment/{albumId}/{firstCommentId}' (albumId=${album.getAlbumId()},firstCommentId=${reply.getFirstCommentId})}">
                            <h4>Add reply comment</h4>
                            <p>Comment text:</p>
                            <input name="text"  type="text">
                            <button type="submit">Add comment</button>
                        </form>
                        <br>
                    </div>

                    <div th:replace="this::f_call(${reply})"></div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>




</body>
</html>