<style>
  .dela {
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
    width: 500px;
    border: 2px dotted lightblue;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>

<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <h1 id="artistName" th:text="${artist.getArtistName()}"></h1>


  <div th:if="${session.user != null}">

    <div th:if="${session.user.isAdmin() == true}">
      <a th:if="${artist.isVerified() == false}" th:href="@{'/artists/verify/{artistId}' (artistId=${artist.getArtistId()})}">Verify</a>
      <a th:if="${artist.isVerified() == true}" th:href="@{'/artists/unverify/{artistId}' (artistId=${artist.getArtistId()})}">Unverify</a>
    </div>

    <div th:if="${artist.isVerified() == false}">
      <a th:href="@{'/artists/edit/{id}' (id=${artist.getArtistId()})}">Edit page</a>
    </div>


  </div>

  <div id="basic-info">
    <p th:text="(${artist.getRealName()} != null ? 'Real name: ' + ${artist.getRealName()} : 'Real name: Unknown')"></p>
    <p th:text="(${artist.getAge()} != null ? 'Age: ' + ${artist.getAge()} : 'Age: Unknown')"></p>
    <p th:text="(${artist.getDescription()} != null ? 'Artist description: ' + ${artist.getDescription()} : 'Artist description: No description')"></p>
  </div>


  <div class="dela">
    <h4>Artist Albums</h4>
    <table>
      <tr>
        <th>Album Name</th>
        <th>Date_Released</th>
        <th>Rating</th>
      </tr>

      <tr th:each="album : ${albums}">
        <th><a th:text="${album.getAlbumName()}" th:href="@{'/albums/{id}' (id=${album.getAlbumId()})}"></a></th>
        <th th:text="${album.getDateReleased()}"></th>
        <th th:text="${album.getRating()}"></th>
      </tr>

    </table>
  </div>

  <div class="dela">
    <h4>Artist Songs</h4>
    <table>
      <tr>
        <th>Song Name</th>
        <th>Date_Released</th>
        <th>Rating</th>
      </tr>

      <tr th:each="song : ${songs}">
        <th><a th:text="${song.getTitle()}" th:href="@{'/songs/{id}' (id=${song.getSongId()})}"></a></th>
        <th th:text="${song.getDateReleased()}"></th>
        <th th:text="${song.getRating()}"></th>
      </tr>

    </table>
  </div>

</div>