<head xmlns:th="http://www.thymeleaf.org">
  <title>TuneTalk</title>
  <link rel="stylesheet" th:href="@{/styles/base.css}">
  <link rel="stylesheet" th:href="@{/styles/elements.css}">
  <link rel="stylesheet" th:href="@{/styles/artist.css}">

</head>

<body>
  <div class="main-container">
    <div>
      <div class="item-meta-info">
        <img th:src="${artist.artistImage}" style="width: 150px; height: 150px">
        <div>
          <p><b th:text="${artist.getArtistName()}">[Artist name]</b></p>
          <p th:text="'Birthday: ' + (${artist.birthday} != null ? ${artist.birthday} : 'Unknown')"></p>
          <p
            th:text="(${artist.getDescription()} != null ? 'Artist description: ' + ${artist.getDescription()} : 'Artist description: No description')">
          </p>

          <div id="verify-edit-buttons">
            <div th:if="${session.user != null}">
              <div th:if="${session.user.isAdmin() == true}">
                <a th:if="${artist.isVerified() == false}" th:href="@{'/artists/verify/{artistId}' (artistId=${artist.getArtistId()})}">Verify</a>
                <a th:if="${artist.isVerified() == true}" th:href="@{'/artists/unverify/{artistId}' (artistId=${artist.getArtistId()})}">Unverify</a>
              </div>
              <div th:if="${artist.isVerified() == false}">
                <a th:href="@{'/artists/edit/{id}' (id=${artist.getArtistId()})}">Edit page</a>
              </div>
            </div>

          </div>


          </div>

        </div>
      </div>
      <div class="parent-items-container">
        <h5>Albums</h5>
        <div class="item-pill" th:each="album : ${albums}">
          <a th:text="${album.getAlbumName()}" th:href="@{'/albums/{id}' (id=${album.getAlbumId()})}"></a>
<!--          <p th:text="${#lists.size(album.comments)}">0 comments</p>-->
        </div>
      </div>
      <div class="parent-items-container">
        <h5>Songs</h5>
        <div class="item-pill" th:each="song : ${songs}" >
          <a th:text="${song.getTitle()}" th:href="@{'/songs/{id}' (id=${song.getSongId()})}"></a>
          <!--          <p th:text="${#lists.size(song.comments)}">0 comments</p>-->
        </div>
      </div>
    </div>
    <div class="comments-container">

    </div>
  </div>
</body>