<!-- <div style="border: 2px dotted lightgray;width: 80%;margin-left: 150px;margin-top: 20px;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <h1 th:text="(${song} != null ? 'Edit Song' : 'Create New Song')"></h1>

    <form style="width: 95%;padding-left: 60px;margin-top: 10px;" class="form-signin mt-xl-5 form" method="post" action="/songs/create">
        <div class="mb-3">
            <label for="title" th:value="(${song} != null ? ${song.getTitle()} : '')"
                   class="form-label">Title:</label>
            <input name="title" id="title" type="text" class="form-control" placeholder="Enter artist name" required>
        </div>

        <div class="mb-3">
            <label for="dateReleased" class="form-label">Song Release Date:</label>
            <input name="dateReleased" th:value="(${song} != null ? ${song.getDateReleased()} : '')"
                   id="dateReleased" type="date" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="rating" class="form-label">Song Rating:</label>
            <input name="rating" th:value="(${song} != null ? ${song.getRating()} : '')"
                   id="rating" type="number" step=".1" class="form-control" placeholder="Enter song rating"  min="0" max="10" required>
        </div>

        <h5>Further information is optional</h5>

        <div class="mb-3">
            <label for="lyrics" class="form-label">Lyrics:</label>
            <input name="lyrics"
                   id="lyrics" type="text" class="form-control" placeholder="Enter song lyrics">
        </div>

        <button type="submit" style="margin-bottom: 40px;" class="btn btn-block btn-primary">Confirm</button>
    </form>

</div> -->

<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{/styles/base.css}">
    <link rel="stylesheet" th:href="@{/styles/elements.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form.css}">

</head>

<body>
    <div class="main-container">
        <div class="title-container">
            <h4 th:text="(${song} != null ? 'Edit Song' : 'Add Song')">[Title]</h4>
            <div class="spacer-title"></div>
            <p>
                Submit a song in our database
            </p>
        </div>
        <div>
            <form method="post" class="input-form-song" action="/songs/create">
                <input name="title" th:value="(${song} != null ? ${song.getTitle()} : '')" id="title" type="text"
                    class="text-input" placeholder="Song name" required>
                <input name="dateReleased" th:value="(${song} != null ? ${song.getDateReleased()} : '')"
                    id="dateReleased" class="text-input" type="date" placeholder="Date released" required>
                <input name="rating" th:value="(${song} != null ? ${song.getRating()} : '')" id="rating" min="0"
                    max="10" class="text-input" type="number" placeholder="Song rating" required>
                <input name="lyrics" id="lyrics" class="text-input" type="text" placeholder="Lyrics" required>

                <input name="songImage" th:value="(${song} != null ? ${song.songImage} : '')"
                       id="songImage" class="text-input" type="text" placeholder="Song image link" >

                <button class="button-input" type="submit">Confirm</button>
            </form>
        </div>
    </div>
</body>