<!-- <div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <a th:if="${session.user != null}" class="btn btn-primary"  href="/albums/create">Add new album</a>
    <br>
    <form th:method="post" action="/albums/search">
        <label for="search">Search album by name:</label>

        <input th:name="albumId" list="search" id="answerInput">
        <datalist id="search" >
            <option th:each="album : ${albumList}" th:text="${album.getAlbumName()}" th:value="${album.getAlbumId()}">
            </option>
        </datalist>
        <input type="hidden" name="answer" id="answerInput-hidden">

        <button type="submit">Search</button>
    </form>



    <span th:each="album : ${albumList}">
        <a th:href="@{'/albums/{id}' (id=${album.getAlbumId()})}">
            <th:block th:text="${album.getAlbumName()}"/></a>
        <br>
    </span>

</div> -->


<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{styles/base.css}">
    <link rel="stylesheet" th:href="@{styles/elements.css}">

    <link rel="stylesheet" th:href="@{styles/list-content.css}">

</head>

<body>
    <div class="title-container">
        <h4>All albums</h4>
        <div class="spacer-title"></div>
        <div class="search-container">
            <input type="text">
            <img th:src="@{icons/search.svg}">
        </div>
    </div>
    <div class="filters-container">
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <a href="/albums/create">
            <!-- <a th:if="${session.user != null}" href="/albums/create"> -->
            <div class="add-new-button">
                <p>Add Album</p>
                <img th:src="@{icons/add.svg}">
            </div>
        </a>


    </div>
    <div class="content-container">
        <div class="album-item" th:each="album : ${albumList}">
            <img th:src="@{images/album.png}">
            <div class="content">
                <p><b th:text="${album.getAlbumName()}"></b></p>
                <p>Kings of Leon</p>
                <p th:text ="${'Released: ' + album.getDateReleased().getYear()}"></p>
                <br>
                <p>0 comments</p>
            </div>
        </div>


    </div>
</body>