<!-- <style>
    li{
        list-style-type: none;
    }
</style>

<div id="songs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <a th:if="${session.user != null}" class="btn btn-primary"  href="/songs/create">Add new song</a>
    <br>
    <form th:method="post" action="/songs/search">
        <label for="search">Search songs by name:</label>

        <input th:name="songId" list="search" id="answerInput">
        <datalist id="search" >
            <option th:each="song : ${songsList}" th:text="${song.getTitle()}" th:value="${song.getSongId()}">
            </option>
        </datalist>
        <input type="hidden" name="answer" id="answerInput-hidden">

        <button type="submit">Search</button>
    </form>

    <ul th:each="song : ${songsList}">
        <li>
            <a th:href="@{'/songs/{id}' (id=${song.getSongId()})}">
            <th:block th:text="${song.getTitle()}"/></a>
        </li>
    </ul>

</div> -->

<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{styles/base.css}">
    <link rel="stylesheet" th:href="@{styles/elements.css}">

    <link rel="stylesheet" th:href="@{styles/list-content.css}">

</head>

<body>
    <div class="title-container">
        <h4>All songs</h4>
        <div class="spacer-title"></div>
        <div class="search-container">
            <input type="text">
            <img th:src="@{icons/search.svg}">
        </div>
    </div>
    <div class="filters-container">
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <div class="filter-picker">
            <select>
                <option>Option 1</option>
            </select>
        </div>
        <a href="/songs/create">
            <!-- <a th:if="${session.user != null}" href="/albums/create"> -->
            <div class="add-new-button">
                <p>Add Song</p>
                <img th:src="@{icons/add.svg}">
            </div>
        </a>
    </div>
    <div class="content-container-vertical">
        <div class="song-item" th:each="song : ${songsList}">
            <img th:src="@{images/album.png}">
            <div class="content">
                <div class="inline">
                    <p th:text="${'Kings of Leon' + ' - ' + song.getTitle()}"></p>
                </div>
                <div class="dot-divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing el</p>
                <div class="dot-divider"></div>
                <p th:text="${'Released: ' + song.getDateReleased().getYear()}"></p>
                <div class="dot-divider"></div>
                <p>Comment by: Lua</p>
            </div>
        </div>
    </div>
</body>