<div id="loginDiv" style="width: 90%;margin: 100px;border: 2px dotted lightgray;">
    <form id="loginForm" class="form" method="post" action="/login" style="padding: 30px;">
        <div class="mb-3">
            <div class="mb-3">
                <label for="username" class="form-label" >Username:</label>
                <input id="username" name="username" type="text" class="form-control" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-block btn btn-primary">Login</button>
    </form>

    <a id="registerButton" href="/register" class="btn btn-block btn-light" style="margin-left: 30px;width: 95%;margin-bottom: 40px;">Register here</a>

</div>