<head xmlns:th="http://www.thymeleaf.org">
    <title>TuneTalk</title>
    <link rel="stylesheet" th:href="@{styles/base.css}">
    <link rel="stylesheet" th:href="@{styles/elements.css}">

    <link rel="stylesheet" th:href="@{styles/auth.css}">

</head>

<body>
    <div class="main-container">
        <div class="title">
            <h2>Create Profile</h2>
        </div>
        <form method="post" action="/register">
            <div class="auth-register-items-container">
                <div class="div-left">
                    <input name="username" class="text-input" type="text" placeholder="Username">
                    <input name="email" class="text-input" type="text" placeholder="Email">
                    <input name="fullName" class="text-input" type="text" placeholder="Full Name">
                    <input name="mobilePhone" class="text-input" type="text" placeholder="Mobile">
                </div>
                <div class="div-right">
                    <input name="birthday" class="text-input" type="date" placeholder="Birthday">
                    <input name="password" class="text-input" type="password" placeholder="Password">
                    <input name="repeatedPassword" class="text-input" type="password" placeholder="Confirm Password">
                    <input class="button-input" type="submit" value="Create Profile">
                </div>
            </div>
        </form>
    </div>
</body>